<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }} | 1440 Advisory Group</title>
  {% if description %}<meta name="description" content="{{ description }}" />{% endif %}
  <meta name="robots" content="index,follow" />
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="icon" href="/favicon.ico" sizes="any" />

</head>
<body>
  <header>
    <div class="wrap">
      {% include "nav.njk" %}
    </div>
  </header>

  <main class="wrap main">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</body>
</html>
